<div class="all-div container　no-gutters">
  <div class="row">
    <div class="new-right-div col-lg-6"></div>
    <div class="new-left-div col-lg-6">
      <h2 class="h2tag-new">新規登録</h2>
      <%= form_for @user do |f| %>
      <% @user.errors.full_messages.each do |message| %>
      <div class="">・<%= message %></div>
      <% end %>
      <div class="name-div">
        <%= f.text_field :name, placeholder: '名前' %>
      </div>
      <div class="email-div">
        <%= f.text_field :email, placeholder: 'メールアドレス' %>
      </div>
      <div class="password-div">
        <%= f.password_field :password, placeholder: 'パスワード' %>
      </div>
      <div class="re-password-div">
        <%= f.password_field :password_confirmation, placeholder: 'パスワード再入力' %>
      </div>
      <div class="submit-div">
        <%= f.submit '作成' %>
        <% end %>
      </div>
    </div>
  </div>
</div>