<div class="all-div container　no-gutters">
  <div class="row">
    <div class="left-div col-lg-12">
      <div class="surround">
        <div class="inner-surround su">
          <h2 class="new_post_tag">新規投稿</h2>
          <% @post.errors.full_messages.each do |message| %>
          <div class="">・<%= message %></div>
          <% end %>
          <%= form_for(@post, url: posts_create_path, html: {multipart: true}) do |f| %>
          <div class="email-div">
            <%= f.text_field :title, placeholder: 'タイトル' %>
          </div>
          <div class="content-div">
            <%= f.text_area :content, placeholder: '本文', :size => "42x10" %>
          </div>
          <div class="password-div">
            <%= file_field_tag :upfile %>
          </div>
          <div class="submit-div post-tag">
            <%= f.submit '投稿' %>
            <% end %>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>