<article>
  <div class="show-post">
    <div class="box left-img"><%= image_tag "/post_image/#{@post.post_image}", class: "boximg"%></div>
    <div class="box right-letters">
      <div class="feed"><h2 class="h2-title"><%= @post.title %></h2>
        <% unless allow_new_line(generate_url(h(@post.content))).try(:html_safe).nil? %>
        <p class="left-content text-left"><%= allow_new_line(generate_url(h(@post.content))).html_safe %></p>
        <% else %>
        <p class="left-content text-left"><%= @post.content %></p>
        <% end %>
      </div>
      <%= image_tag "/user_image/#{@user.image}", :size =>'50x50'%>
      <%= link_to "#{@user.name}", user_path(@user) %>
      
      <% if !@current_user.nil? %>
      <% if @post.user_id == @current_user.id || @current_user.admin? %>
      <%= link_to "編集", edit_post_path(@post.id)%>
      <%= link_to "削除", destroy_post_path(@post.id), method: :delete %>
      <% end %>
      <% end %>
      <div id="likes_buttons_<%= @post.id %>">
        <%= render partial: 'favorites/favorite', locals: {post: @post} %>
      </div>
    </div>
  </div>
</article>